/*Nav*/
.nav {
    background: rgba(0,0,0,0);
    position: relative;
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0;
    left: 0;
    z-index: 12;
    padding: 10px 40px;
  }
.nav .nav-logo img {
    max-height: 80px;
  }

.nav .nav-items {
display: flex;
flex-direction: row;
width: 100%;
justify-content: flex-end;
}
.nav .nav-items a {
color: #fff !important;
text-transform: uppercase !important;
font-weight: 600 !important;
letter-spacing: 3px;
margin: 0 50px;
} 

.nav .nav-items a:hover {
color: #77bbd6 !important;
}
